@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

$gray: #3a3a3a;
$gray-light: lighten( $gray, 40% );
$transition-duration: 0.8s;
$transition-easing: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$bounce-easing: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$closed-width: 600px;
$closed-height: 300px;
$opened-width: 600px;
$opened-height: 300px;

/* universal */

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

section {
  overflow: auto;
}

.container {
  max-width: 680px;
}

.container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

/* typography */

body {
  font: 400 16px 'Raleway', sans-serif;
  color: $gray
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 50px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  color: $gray;
  text-decoration: underline;
  &:visited {
    color: $gray;
  }
  &:hover {
    color: $gray-light;
  }
}


/* header */

.navbar-default {
  background: none;
  border: none;
}

#logo {
  display: block;
  font: 400 4em 'Montserrat', sans-serif;
  padding: 10px 0;
  text-decoration: none;
  line-height: 1;
  letter-spacing: -2px;
  margin-bottom: 30px;
  &:hover {
    color: $gray;
  }
}

/* main */

main {
  flex: 1;
}

main h1 {
  font: 400 2.5em 'Montserrat', sans-serif;
}

#intro {
  margin-top: 20px;
  padding-bottom: 200px;
  font-size: 1.2em;
}

a.item {
  float:left;
  display: block;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 50px;
  width: 20%;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-color: $gray;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.btn-default:active:focus {
  color: white;
  background-color: $gray;
  outline: 0;
}

.btn-next {
  display: block;
  margin: 50px auto 0 auto;
  font-size: 1.2em;
  color: white;
  background-color: $gray;

  &:hover, &:focus, &:active {
    color: white;
    background-color: $gray;
  }

  &:focus {
    outline: 0;
  }
}

/* flashcard */

.flashcard {
  position: relative;
  display: block;
  margin: 50px auto 0 auto;
  width: $closed-width;
  height: $closed-height;
  font-size: 2em;
  transition: width $transition-duration $transition-easing,
              height $transition-duration $transition-easing,
              transform $transition-duration $bounce-easing;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  text-align: center;
}

.flashcard-front {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  background-color: $gray;
  cursor: pointer;
  backface-visibility: hidden;
  box-shadow: 0 8px 25px rgba(0,0,0,0.4);
  -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
  transition: background 0.15s ease;
}

.flashcard-back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #eee;
  color: #222;
  cursor: pointer;
  transform: translateZ(-2px) rotateX(180deg);
  overflow: hidden;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
  transition: background 0.15s ease;

  p {
    margin-top: 27px;
    margin-bottom: 25px;
  }
}

.flashcard[data-direction="left"] .flashcard-back,
.flashcard[data-direction="right"] .flashcard-back {
  transform: translateZ(-2px) rotateY(180deg);
}

.flashcard.is-open {
  width: $opened-width;
  height: $opened-height;

  .flashcard-front {
    pointer-events: none;
    line-height: $opened-height;
  }

  .flashcard-back {
    box-shadow: 0 8px 25px rgba(0,0,0,0.4);
  }
}

.flashcard[data-direction="top"].is-open {
  transform: rotateX(180deg);
}

.flashcard[data-direction="right"].is-open {
  transform: rotateY(180deg);
}

.flashcard[data-direction="bottom"].is-open {
  transform: rotateX(-180deg);
}

.flashcard[data-direction="left"].is-open {
  transform: rotateY(-180deg);
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
}

.copyright {
  text-align: center;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}