@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 80px;
}

section {
  overflow: auto;
}

.container {
  max-width: 680px;
}

.container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

/* typography */

body {
  font: 400 16px 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 50px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  color: black;
  text-decoration: underline;
  &:visited {
    color: black;
  }
  &:hover {
    color: pink;
  }
}


/* header */

header {
  padding-bottom: 200px;
}

.navbar-default {
  background: none;
  border: none;
}

#logo {
  display: block;
  font: 400 4em 'Montserrat', sans-serif;
  padding: 10px 0;
}

/* main */

main h1 {
  font: 400 2.5em 'Montserrat', sans-serif;
}

.item {
  float:left;
  display: block;
  margin-right: 50px;
  width: 20%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: black;
  a {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  // color: $gray-light;
  a {
    // color: $gray;
    &:hover {
      // color: $gray-darker;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}