<main>
  <div class="container">
    <%= link_to "Back to Decks", root_path(anchor: "categories") %>

    <div class="flashcard">
      <div class="flashcard-back">
        <p><%= @randcard.korean %></p>
      </div>
      <div class="flashcard-front">
        <p><%= @randcard.english %></p>
      </div>
    </div>
    <%= button_to "Next Card", deck_path, class: "btn btn-default btn-next", :method => :get %>
  </div>
</main>