<header class="navbar navbar-default navbar-static-top">
  <div class="container">
    <h1 id="logo" class="center">Learn Korean</h1>
    <p>
      Have you always wanted to learn Korean so that you could visit Korea, understand what they're saying in K-pop songs, or watch Korean dramas without subtitles?
    </p>
    <p>
      Well, you're going to need to learn the Korean alphabet first. You can try this 
      <a href="<%= asset_path('alphabet.jpg')%>" target="_blank">comic</a> 
      or some 
      <a href="https://www.youtube.com/results?search_query=learn+korean+alphabet" target="_blank">YouTube videos</a>.
    </p>
    <p>
      If you're like me and already know the alphabet, then you can use this site to improve your vocabulary and memorize common phrases.
    </p>
    <p>
      Scroll down, choose a deck of flashcards, and get learning!
    </p>
  </div>
</header>