<header class="navbar navbar-default navbar-static-top">
  <div class="container">
    <%= link_to "Learn Korean", root_path, id: "logo", class: "center" %>
    <!-- <h1 id="logo" class="center">Learn Korean</h1> -->
  </div>
</header>